* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.board {
  border-collapse: collapse;
}

.board td {
  width: 5em;
  height: 5em;
  border: 0.5em solid rgb(21, 51, 21);
}

.board td.empty {
  background-color: white;
}

.board td.x {
  background-color: lightgreen;
}

.board td.o {
  background-color: lightblue;
}

