* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.board {
  border-collapse: collapse;
}

.board td {
  width: 5em;
  height: 5em;
  border: 0.5em solid rgb(21, 51, 21);
}

.board td.empty {
  background-color: white;
}

.board td.x {
  background-color: lightgreen;
}

.board td.o {
  background-color: lightblue;
}

.x1,
.x2 {
  stroke-linecap: round;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: dash 1s linear forwards;
}

.x1 {
	animation-delay: 0s;
}

.x2 {
	animation-delay: 1s;
}

.circle {
  stroke-linecap: round;
  stroke-dasharray: 566;
  stroke-dashoffset: 566;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
